#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        mo_sk: mo_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_SK";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            // | Esc   |   Q   |   W   |   E   |   R   |   T   |               |   Y   |   U   |   I   |   O   |   P   | BSPC  |
            // | Tab   |   A   |   S   |   D   |   F   |   G   |               |   H   |   J   |   K   |   L   |   ;   | Enter |
            // | Shift |   Z   |   X   |   C   |   V   |   B   |               |   N   |   M   |   ,   |   .   |   /   | Shift |
            //                                 | Ctrl  |  Cmd  |  Alt  |  L-1  |  spc  |  L-2  |

            bindings = <
&kp TAB   &kp Q  &kp W  &kp F  &kp P            &kp G                    &kp J        &kp L            &kp U      &kp Y    &kp SEMI  &kp BSPC
&kp ESC   &kp A  &kp R  &kp S  &kp T            &kp D                    &kp H        &kp N            &kp E      &kp I    &kp O     &kp ENTER
&kp CAPS  &kp Z  &kp X  &kp C  &kp V            &kp B                    &kp K        &kp M            &kp COMMA  &kp DOT  &kp FSLH  &kp DELETE
                               &mo_sk 2 LSHIFT  &lt 3 SQT  &sl 4  &sl 5  &lt 6 SPACE  &mo_sk 7 RSHIFT
            >;
        };

        qwerty {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R                &kp T                      &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D  &kp F                &kp G                      &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V                &kp B                      &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                &mo_sk 3 LEFT_SHIFT  &kp LGUI  &kp LALT  &mo 3  &kp SPACE  &mo 5
            >;
        };

        mac {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        nav {
            // |   `   |   1   |   2   |   3   |   4   |   5   |               |       |       |       |       |       |       |
            // |   '   |   6   |   7   |   8   |   9   |   0   |               |       | Left  | Down  |  Up   | Right |       |
            // |       |   \   |   -   |   =   |   [   |   ]   |               |       | Home  | PG DN | PG UP | End   |       |
            //                                 |       |       |       |       |       |       |

            bindings = <
&trans  &none      &none     &none     &none      &none                   &none   &kp LG(V)  &kp LG(C)  &kp LG(X)  &kp LG(Z)  &trans
&trans  &kp LSHFT  &kp LALT  &kp LGUI  &kp LCTRL  &none                   &none   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &none      &none     &none     &none      &none                   &none   &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &trans
                                       &trans     &trans  &trans  &trans  &trans  &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        sym {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        fun {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        sys {
            // | BTCLR |  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |               |       |       |       |       |       |       |
            // |       |       |       |       |       |       |               |       |       |       |       |       |       |
            // |       |       |       |       |       |       |               |       |       |       |       |       |       |
            //                                 |       |       |       |       |       |       |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                        &trans  &trans  &trans  &trans  &trans  &trans
                                                      &trans        &trans        &trans  &trans  &trans  &trans
            >;
        };
    };
};
